## Marketing Strategy Analysis
#### Programming Script and Technical Report

### Table of Content
1. Introduction
2. Data Loading and Quality 
3. Feature Additions and Engineering
4. Exploratory Data Analysis and Statistical Analysis
5. Final Recommendations (Optimal Sales)

### 1. Introduction

- What is the impact of each marketing strategy and sales visit on Sales (Amount Collected)?
- Is the same strategy valid for all the different client types ?

### 2. Data Loading and Quality Checks

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats

In [49]:

from google.colab import files
uploaded = files.upload()

Saving Campaign Data.csv to Campaign Data (2).csv

In [3]:
data=pd.read_csv('Campaign-Data.csv')
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [4]:
data.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

### 3. Feature Additions and Engineering

In [5]:
## Creation of Additional Features 
data['Calendardate']=pd.to_datetime(data['Calendardate'])
data['Calendar_Month']=data['Calendardate'].dt.month
data['Calendar_Year']=data['Calendardate'].dt.year

C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-02-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '19-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-06-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '17-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-08-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-10-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-11-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '17-12-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-01-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-02-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18-03-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '19-05-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '17-07-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-08-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-09-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-10-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '16-11-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\Shubh Pundir\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '17-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

### 4. Exploratory Data Analysis and Statistical Analysis
We can have a detailed exploration that can be added to this section, but since we only need to answer three questions:

<b> 4.1 Exploring and Understanding basics data </b>

1. Distribution of Data across different accounts
2. Difference of Sales in Account Types (Using Categorical Mean)

<b> 4.2 Statistical Analysis - Answering the Questions</b>
1. Impact of Marketing Strategy on Sales (Using Correlation, Regression and Decision Tree)
2. Impact of Competition on Sales
3. How different types of client can have different strategies (Broken down Question 1 and Question 2 based on Account Type)

### 4.2 Impact of Marketing Strategy on Sales

#### Understanding of distrubtions

In [6]:
data['Client Type'].value_counts()

Large Facility      1368
Small Facility       840
Medium Facility      504
Private Facility     264
Name: Client Type, dtype: int64

In [7]:
data['Client Type'].value_counts(normalize=True)

Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: Client Type, dtype: float64

In [10]:
pd.crosstab(data['Number of Competition'],data['Client Type'],margins=True)

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,228,84,44,140,496
Low,1140,420,220,700,2480
All,1368,504,264,840,2976

In [13]:
data['Number of Competition'].value_counts()

Low     2480
High     496
Name: Number of Competition, dtype: int64

In [12]:
data

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition,Calendar_Month,Calendar_Year
0,ID-987275,Medium Facility,2800,125,1003,2014-01-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,1,2014
1,ID-987275,Medium Facility,2800,125,1003,2014-02-16,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low,2,2014
2,ID-987275,Medium Facility,2800,125,1003,2014-03-18,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,3,2014
3,ID-987275,Medium Facility,2800,125,1003,2014-04-18,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low,4,2014
4,ID-987275,Medium Facility,2800,125,1003,2014-05-19,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,5,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,ID-987463,Small Facility,800,20,1003,2015-08-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,8,2015
2972,ID-987463,Small Facility,800,20,1003,2015-09-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,9,2015
2973,ID-987463,Small Facility,800,20,1003,2015-10-16,0,0,0.0,0.0,0.0,0.0,0.0,2580000.0,0.0,0.0,High,10,2015
2974,ID-987463,Small Facility,800,20,1003,2015-11-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,11,2015
2975,ID-987463,Small Facility,800,20,1003,2015-12-17,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,12,2015

In [11]:
pd.crosstab(data['Number of Competition'],data['Client Type'],margins=True,normalize='columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [14]:
data.groupby('Number of Competition').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Number of Competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [15]:
data.groupby('Client Type').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [32]:
pd.DataFrame(data.corr()[['Amount Collected']]).sort_values(by='Amount Collected',ascending=True)

                     Amount Collected
Campaign (Phone)             0.034858
Sales Contact 5              0.095795
Calendar_Month               0.139425
Sales Contact 4              0.236165
Campaign (Email)             0.248235
Sales Contact 1              0.277478
Calendar_Year                0.286194
Sales Contact 3              0.357887
Campaign (Flyer)             0.444337
Sales Contact 2              0.552112
Number of Customers          0.607496
Montly Target                0.608204
Unit Sold                    0.997515
Amount Collected             1.000000
Zip Code                          NaN

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              2976 non-null   object
 1   Client Type            2976 non-null   object
 2   Number of Customers    2976 non-null   int64
 3   Montly Target          2976 non-null   int64
 4   Zip Code               2976 non-null   int64
 5   Calendardate           2976 non-null   datetime64[ns]
 6   Amount Collected       2976 non-null   int64
 7   Unit Sold              2976 non-null   int64
 8   Campaign (Email)       2976 non-null   float64
 9   Campaign (Flyer)       2976 non-null   float64
 10  Campaign (Phone)       2976 non-null   float64
 11  Sales Contact 1        2976 non-null   float64
 12  Sales Contact 2        2976 non-null   float64
 13  Sales Contact 3        2976 non-null   float64
 14  Sales Contact 4        2976 non-null   float64
 15  Sales Contact 5        2976 non-null   float64
 16  Number of Competition  2976 non-null   object
 17  Calendar_Month         2976 non-null   int64
 18  Calendar_Year          2976 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(7), object(3)
memory usage: 441.9+ KB

Correlation Analysis

In [34]:
## Consolidated Strategy for Targeting
        
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(data[['Amount Collected',
'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()

In [35]:
correlation_analysis

              index  Amount Collected
0  Amount Collected          1.000000
1  Campaign (Email)          0.248235
2  Campaign (Flyer)          0.444337
3  Campaign (Phone)          0.034858
4   Sales Contact 1          0.277478
5   Sales Contact 2          0.552112
6   Sales Contact 3          0.357887
7   Sales Contact 4          0.236165
8   Sales Contact 5          0.095795

In [36]:
correlation_analysis.columns=['Impacting Variable','Degree of Linear Impact (Correlation)']
correlation_analysis=correlation_analysis[correlation_analysis['Impacting Variable']!='Amount Collected']
# removing Amount Collected
correlation_analysis=correlation_analysis.sort_values('Degree of Linear Impact (Correlation)',ascending=False)
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_22220\4077054343.py:5: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

#### Market Strategy Impact on Sales (Broken by different account type)

In [37]:
# Import seaborn library
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(data.groupby('Client Type')[['Amount Collected',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type','Amount Collected'],ascending=False)
correlation_analysis.columns=['Acc Type','Variable Impact on Sales','Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact on Sales']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

C:\Users\Shubh Pundir\AppData\Local\Temp\ipykernel_22220\3752512781.py:11: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

#### Regression Analysis (Market Sales and Strategies)

In [38]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
data.columns=[mystring.replace(" ", "_") for mystring in data.columns]
data.columns=[mystring.replace("(", "") for mystring in data.columns]
data.columns=[mystring.replace(")", "") for mystring in data.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5',data=data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Wed, 01 Feb 2023   Prob (F-statistic):               0.00
Time:                        22:17:04   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

In [30]:
df=df.reset_index()
df=df[df['P>|t|']<0.05][['index','coef']]
df

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

#### Regression Analysis (Market Sales and Strategies) - Broken for different account types

In [31]:
consolidated_summary=pd.DataFrame()
for acctype in list(set(list(data['Client_Type']))):
    temp_data=data[data['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable','Coefficent (Impact)']
    df['Account Type']=acctype
    df=df.sort_values('Coefficent (Impact)',ascending=False)
    df=df[df['Variable']!='Intercept']
    print(acctype)
    consolidated_summary=consolidated_summary.append(df)
    print(df)
    #print(results.summary())

Medium Facility
          Variable  Coefficent (Impact)     Account Type
2   Campaign_Flyer               4.1059  Medium Facility
5  Sales_Contact_2               3.5778  Medium Facility
4  Sales_Contact_1               3.1365  Medium Facility
6  Sales_Contact_3               2.1174  Medium Facility
Small Facility
          Variable  Coefficent (Impact)     Account Type
5  Sales_Contact_2             0.810100  Small Facility
3   Campaign_Phone            -0.000003  Small Facility
Private Facility
          Variable  Coefficent (Impact)      Account Type
5  Sales_Contact_2               6.6223  Private Facility
Large Facility
          Variable  Coefficent (Impact)     Account Type
4  Sales_Contact_1              11.6731  Large Facility
7  Sales_Contact_4              10.6145  Large Facility
5  Sales_Contact_2               4.0031  Large Facility
2   Campaign_Flyer               2.7204  Large Facility
6  Sales_Contact_3               2.0316  Large Facility
3   Campaign_Phone              -3.5361  Large Facility

In [32]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
consolidated_summary=pd.DataFrame()
for acctype in list(set(list(data['Client_Type']))):
    print(acctype)
    temp_data=data[data['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable','Coefficent (Impact)']
    df['Account Type']=acctype
    df=df.sort_values('Coefficent (Impact)',ascending=False)
    df=df[df['Variable']!='Intercept']
    consolidated_summary=consolidated_summary.append(df)
    print(results.summary())

Medium Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.428
Method:                 Least Squares   F-statistic:                     48.00
Date:                Sat, 20 Aug 2022   Prob (F-statistic):           4.13e-57
Time:                        10:24:07   Log-Likelihood:                -9461.9
No. Observations:                 504   AIC:                         1.894e+04
Df Residuals:                     495   BIC:                         1.898e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.682e+06   2.53e+06      2.241      0.025    7.01e+05    1.07e+07
Campaign_Email      1.1260      1.287      0.875      0.382      -1.403       3.655
Campaign_Flyer      4.1059      0.702      5.851      0.000       2.727       5.485
Campaign_Phone      2.3077      3.014      0.766      0.444      -3.615       8.230
Sales_Contact_1     3.1365      0.732      4.284      0.000       1.698       4.575
Sales_Contact_2     3.5778      0.305     11.717      0.000       2.978       4.178
Sales_Contact_3     2.1174      0.295      7.168      0.000       1.537       2.698
Sales_Contact_4    -7.4136      4.497     -1.649      0.100     -16.250       1.422
Sales_Contact_5     8.2368     10.845      0.760      0.448     -13.071      29.544
==============================================================================
Omnibus:                      103.101   Durbin-Watson:                   0.592
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              197.732
Skew:                           1.144   Prob(JB):                     1.16e-43
Kurtosis:                       5.045   Cond. No.                     1.44e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
Small Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     6.829
Date:                Sat, 20 Aug 2022   Prob (F-statistic):           6.63e-08
Time:                        10:24:07   Log-Likelihood:                -14125.
No. Observations:                 840   AIC:                         2.827e+04
Df Residuals:                     832   BIC:                         2.830e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        8.789e+05   2.07e+05      4.252      0.000    4.73e+05    1.28e+06
Campaign_Email      1.8882      1.344      1.405      0.160      -0.750       4.526
Campaign_Flyer      0.0753      0.268      0.281      0.778      -0.450       0.600
Campaign_Phone  -3.468e-06   8.16e-07     -4.252      0.000   -5.07e-06   -1.87e-06
Sales_Contact_1    -0.9764      1.655     -0.590      0.555      -4.224       2.271
Sales_Contact_2     0.8101      0.130      6.218      0.000       0.554       1.066
Sales_Contact_3     0.3277      0.198      1.656      0.098      -0.061       0.716
Sales_Contact_4     0.4837      4.427      0.109      0.913      -8.206       9.173
Sales_Contact_5    -2.6243      7.996     -0.328      0.743     -18.319      13.070
==============================================================================
Omnibus:                      985.034   Durbin-Watson:                   1.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97146.151
Skew:                           5.770   Prob(JB):                         0.00
Kurtosis:                      54.405   Cond. No.                     7.82e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.3e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
Private Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     16.88
Date:                Sat, 20 Aug 2022   Prob (F-statistic):           4.63e-20
Time:                        10:24:07   Log-Likelihood:                -4650.8
No. Observations:                 264   AIC:                             9320.
Df Residuals:                     255   BIC:                             9352.
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        4.439e+05    8.3e+05      0.535      0.593   -1.19e+06    2.08e+06
Campaign_Email      6.6806     17.292      0.386      0.700     -27.374      40.735
Campaign_Flyer      1.6661      1.125      1.482      0.140      -0.548       3.881
Campaign_Phone      7.8827     10.196      0.773      0.440     -12.197      27.962
Sales_Contact_1   -88.9282     47.497     -1.872      0.062    -182.465       4.608
Sales_Contact_2     6.6223      0.718      9.220      0.000       5.208       8.037
Sales_Contact_3    -0.7264      0.893     -0.814      0.417      -2.485       1.032
Sales_Contact_4    19.4954     19.966      0.976      0.330     -19.824      58.815
Sales_Contact_5    21.7693     13.600      1.601      0.111      -5.013      48.552
==============================================================================
Omnibus:                      274.961   Durbin-Watson:                   1.110
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9920.407
Skew:                           4.276   Prob(JB):                         0.00
Kurtosis:                      31.788   Cond. No.                     1.79e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
Large Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     100.2
Date:                Sat, 20 Aug 2022   Prob (F-statistic):          4.64e-131
Time:                        10:24:07   Log-Likelihood:                -25075.
No. Observations:                1368   AIC:                         5.017e+04
Df Residuals:                    1359   BIC:                         5.021e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.812e+06   9.29e+05      3.026      0.003    9.89e+05    4.63e+06
Campaign_Email      0.7886      0.936      0.842      0.400      -1.048       2.625
Campaign_Flyer      2.7204      0.352      7.739      0.000       2.031       3.410
Campaign_Phone     -3.5361      1.333     -2.653      0.008      -6.151      -0.921
Sales_Contact_1    11.6731      1.246      9.368      0.000       9.229      14.117
Sales_Contact_2     4.0031      0.239     16.718      0.000       3.533       4.473
Sales_Contact_3     2.0316      0.246      8.266      0.000       1.549       2.514
Sales_Contact_4    10.6145      1.260      8.423      0.000       8.143      13.086
Sales_Contact_5    -3.6385      6.703     -0.543      0.587     -16.789       9.512
==============================================================================
Omnibus:                      334.998   Durbin-Watson:                   0.655
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1353.896
Skew:                           1.121   Prob(JB):                    1.01e-294
Kurtosis:                       7.327   Cond. No.                     6.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

### 5. Final Recommendations

Using the below table we can use the coefficent to see how much return we can derive from each dollar we spend, here we can clearly see that for different account type different Campaigns and Different Sales Contact are effective with different extend. 

<b>Case Explanation - Medium Facility </b><br>
For Example Medium Facility shows decent results with Flyer Campiagns and each dollar spend return 4 dollars on average. Sales Contact 2 is highly effective followed by Sales Contact 1 and Sales Contact 3. Else all other strategy shows no impact can be dropped to save cost.

In [33]:
consolidated_summary

          Variable  Coefficent (Impact)      Account Type
2   Campaign_Flyer             4.105900   Medium Facility
5  Sales_Contact_2             3.577800   Medium Facility
4  Sales_Contact_1             3.136500   Medium Facility
6  Sales_Contact_3             2.117400   Medium Facility
5  Sales_Contact_2             0.810100   Small Facility
3   Campaign_Phone            -0.000003   Small Facility
5  Sales_Contact_2             6.622300  Private Facility
4  Sales_Contact_1            11.673100   Large Facility
7  Sales_Contact_4            10.614500   Large Facility
5  Sales_Contact_2             4.003100   Large Facility
2   Campaign_Flyer             2.720400   Large Facility
6  Sales_Contact_3             2.031600   Large Facility
3   Campaign_Phone            -3.536100   Large Facility

In [34]:
consolidated_summary.reset_index(inplace=True)
consolidated_summary.drop('index',inplace=True,axis=1)

In [35]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [36]:
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
def format(x):
        return "${:.1f}".format(x)
consolidated_summary['Return on Investment']  = consolidated_summary['Return on Investment'].apply(format)

In [38]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [39]:
consolidated_summary.to_csv('consolidated_summary.csv')
files.download('consolidated_summary.csv')